@model IEnumerable<PTStore.Models.ThuongHieu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenThuongHieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenThuongHieu)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ThuongHieuId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ThuongHieuId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ThuongHieuId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
